:root {
	--input-color: #99A3BA;
	--input-border: #CDD9ED;
	--input-background: #fff;
	--input-placeholder: #CBD1DC;
	--input-border-focus: #275EFE;
	--group-color: var(--input-color);
	--group-border: var(--input-border);
	--group-background: #EEF4FF;
	--group-color-focus: #fff;
	--group-border-focus: var(--input-border-focus);
	--group-background-focus: #678EFE;
}

.form-field {
	display: block;
	width: 90%;
	padding: 8px 16px;
	line-height: 25px;
	font-size: 14px;
	font-weight: 500;
	font-family: inherit;
	border-radius: 6px;
	-webkit-appearance: none;
	color: var(--input-color);
	border: 1px solid var(--input-border);
	background: var(--input-background);
	-webkit-transition: border .3s ease;
	transition: border .3s ease;
}
.form-field::-webkit-input-placeholder {
	color: var(--input-placeholder);
}
.form-field::-moz-placeholder {
	color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
	color: var(--input-placeholder);
}
.form-field::-ms-input-placeholder {
	color: var(--input-placeholder);
}
.form-field::placeholder {
	color: var(--input-placeholder);
}
.form-field:focus {
	outline: none;
	border-color: var(--input-border-focus);
}

.form-group {
	position: relative;
	display: -webkit-box;
	display: flex;
	width: 100%;
}
.form-group > span,
.form-group .form-field {
	white-space: nowrap;
	display: block;
}
.form-group > span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
	border-radius: 0;
}
.form-group > span:first-child,
.form-group .form-field:first-child {
	border-radius: 6px 0 0 6px;
}
.form-group > span:last-child,
.form-group .form-field:last-child {
	border-radius: 0 6px 6px 0;
}
.form-group > span:not(:first-child),
.form-group .form-field:not(:first-child) {
	margin-left: -1px;
}
.form-group .form-field {
	position: relative;
	z-index: 1;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	width: 1%;
	margin-top: 0;
	margin-bottom: 0;
}
.form-group > span {
	text-align: center;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 25px;
	color: var(--group-color);
	background: var(--group-background);
	border: 1px solid var(--group-border);
	-webkit-transition: background .3s ease, border .3s ease, color .3s ease;
	transition: background .3s ease, border .3s ease, color .3s ease;
}
.form-group:focus-within > span {
	color: var(--group-color-focus);
	background: var(--group-background-focus);
	border-color: var(--group-border-focus);
}

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: inherit;
}
*:before, *:after {
	box-sizing: inherit;
}
.container {
	margin-top: -150px;
}

body {
	min-height: 100vh;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	background: #F5F9FF;
}
body .form-group {
	max-width: 360px;
}
body .form-group:not(:last-child) {
	margin-bottom: 32px;
}

.form-value {
	font-family: 'Source Code Pro', monospace;
}

