
#content {
	height: 100vh;
}

.loading {
	opacity: 0;
}

.text {
	transition: all 1s;
	position: absolute;
	top: 50%;
	right: 50%;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	color: #fff;
	max-width: 90%;
	padding: 2em 3em;
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	font-size: 30px;
}
.text.loading {
	font-size: 10px;
}
#particles-js {
	transition: all 1s;
	position: absolute;
	width: 100%;
	height: 100%;
}
canvas {
	display: block;
	vertical-align: bottom;
}

#particles-js.loading {
	background: #161724;
}

canvas {
	transition: all 0.3s;
}
body.loading #particles-js canvas {
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7)
}

.greeting-container {
	display: inline-flex;
}
#segue {
	padding-right: 6px;
}
#greeting-emoji {
	padding-left: 10px;
}

hr.loading {
	opacity: 100;
	width: 0;
	margin-left: 50%;
}
hr {
	left: 0;
	transition: all 1.5s;
	width: 100%;
	margin-top: 10px;
}

#clock {
	transition: all 0.5s;
	display: inline-flex;
	font-size: 25px;
}
#clock.loading {
	opacity: 100;
	font-size: 0;
}
.clock-date-segue {
	padding-right: 8px;
}
.clock-segue {
	padding-left: 2px;
	padding-right: 2px;
}

.today-commit-container {
	transition: all 0.25s;
	padding-top: 3px;
	font-weight: 300;
	font-size: 19px;
	display: inherit;
}
.today-commit-container.loading {
	font-size: 0;
}

#popups ul {
	position: absolute;
}
.popup {
	position: absolute;
	transition: top 0.75s;
	max-width: 80%;
	border-radius: 40px;
	padding: 20px 30px;
	background: #0a9637;
	font-size: 20px;
	display: inline-block;
	/* before transition */
	top: 150%;
}
.popup.displayed {
	transition: top 0.75s;
	top: 90%;
}
.upload-anchor {
	transition: color 0.3s;
}
.upload-anchor:hover {
	color: #bebebe;
}

#joke-content {
	transition: all 0.7s;
	display: inline-flex;
	font-size: 20px;
}
#joke-content.loading {
	opacity: 100;
	font-size: 0;
}

#content-content.hidden {
	display: none;
}
#nav-content {
	transition: all 1s;
	top: 95%;
	right: 98%;
}
