
.loading {
	opacity: 0;
}
canvas {
	display: block;
	vertical-align: bottom;
}

#particles-js.loading {
	background: #161724;
}
#particles-js {
	transition: all 1s;
	position: absolute;
	width: 100%;
	height: 100%;
}

canvas {
	transition: all 0.3s;
}
#content {
	transition: all 1s;
	font-size: 30px;
}

body.loading #particles-js canvas {
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7)
}

.text {
	position: absolute;
	top: 50%;
	right: 50%;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	color: #fff;
	max-width: 90%;
	padding: 2em 3em;
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
}

.greeting-container {
	display: inline-flex;
}
#segue {
	padding-right: 6px;
}

#content.text.loading {
	font-size: 10px;
}

hr.loading {
	opacity: 100;
	width: 0;
	margin-left: 50%;
}
hr {
	left: 0;
	transition: all 1.5s;
	width: 100%;
	margin-top: 10px;
}

#clock {
	transition: all 0.5s;
	display: inline-flex;
	font-size: 25px;
}
#clock.loading {
	opacity: 100;
	font-size: 0;
}
.clock-date-segue {
	padding-right: 8px;
	text-align: center;
	width: 100%;
}
.clock-segue {
	padding-left: 2px;
	padding-right: 2px;
}

.today-commit-container {
	transition: all 0.25s;
	padding-top: 3px;
	font-weight: 300;
	font-size: 20px;
	display: inherit;
}
.today-commit-container.loading {
	font-size: 0;
}
