
* {
	margin: 0;
	padding: 0;
}
a {
	transition: color 0.2s;
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: #b7b7b7;
}
.background {
	background: radial-gradient(ellipse at bottom, #1d2939 0%, #161724 100%) no-repeat fixed;
}
