
.option {
	padding: 15px 0;
}


.icon {
	padding-left: 70px;
	padding-bottom: 40px;
}
.bar {
	transition: all 0.8s;
	width: 30px;
}
.bar1 {
	background: #ccc left bottom;
	height: 60px;
	transform: translateX(30px) translateY(140px) rotate(-45deg);
	background-size: 200% 100%;
}
.bar1.saving {
	background: #1b581b right top;
}
.bar1.failing {
	background: #72040c right top;
}
.bar2 {
	background: white left bottom;
	height: 160px;
	transform: translateX(107px) translateY(15px) rotate(45deg);
}
.bar2.saving {
	background: #328a32 right top;
}
.bar2.failing {
	background: #c61e30 right top;
}
